# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
env/
venv/
.conda/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Log files
*.log

# Temporary files
*.tmp
